<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head'); %>
</head>

<body class="container">

    <header>
        <%- include('../partials/header'); %>
    </header>

    <main>
        <div class="jumbotron">
            <h1>Thank you for contacting us, <%= firstname %>
                    <%= lastname %>!</h1>

            <p>We have received your message regarding <%= topic %>:</p>

            <p>
                <%= description %>
            </p>
        </div>
    </main>

    <footer>
        <%- include('../partials/footer'); %>
    </footer>

</body>

</html>